body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#bottom-info {
  display: flex;
  flex-direction: row;
}
#bottom-info div {
  margin-right: 10px;
  padding: 2px 10px;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 2px;
}
